{% layout "src/views/layouts/base.liquid" %}

{% block content %}
<main>
    <div>
      <a href="/login">Log out</a>
    </div>
    <h1>Welcome: person {{ user.name }}</h1>
    <div>
        <h2>Contacts</h2>
        <ul class="contacts">
            {% for contact in user.contacts %}
                <li>Chat with: <a href="/account/{{ user.id }}/chat/{{ user.id | times: contact }}">person {{ contact }}</a></li>
            {% endfor %} 
        </ul>
    </div>
    <section>
      <h2>Add contact</h2>
      <form action="#" id="addContact">
        <label>Name:
          <input type="text" name="name">
        </label>
        <button type="submit">Add contact</button>
      </form>
    </section>
</main>
  {% comment %} <script src="js/addContact.js"></script>
  <script src="js/createChat.js"></script> {% endcomment %}
  <script src="/js/extraFunctions.js"></script>
  <script src="/js/loginSignup.js"></script>
{% endblock %}
