{% layout "src/views/layouts/base.liquid" %}

{% block content %}
<main>
  <div>
    <a href="../">Back</a>
  </div>
  <h1>Send a message to {{ contact.name  }}</h1>
  <div class="chat-box">
    {% comment %} method="" action="/fact" // TODO laten werken zonder js? {% endcomment %}
    <form  class="textForm">
      <input type="text" id="textInput" placeholder="Enter text">
      <button type="submit">Send Text</button>
    </form>
    <ul class="message-box"></ul>
  </div>
</main>
<script src="/js/extraFunctions.js"></script>
<script src="/js/script.js"></script>
{% endblock %}
