{% layout "src/views/layouts/base.liquid" %}

{% block content %}
<main>
  {% if errorMessage %}
    <p>{{ errorMessage }}</p>
  {% endif %}
  <h1> {{ page }}</h1>
  <form
    {% if page == "Sign-up" %}
      action="/makeAccount" method="post"
    {% else if page == "Log-in"  %}
      action="/loginInAccount" method="post"
    {% endif %}
  >
    <label>Name:
      {% if inputValue %}
        <input type="text" name="name" value="{{ inputValue }}">
        {% else %}
        <input type="text" name="name">
      {% endif %}
    </label>
    <button type="submit">{{ page }}</button>
  </form>

{% if page == "Sign-up" %}
  <a href="/login">I already have an account.</a>
{% else if page == "Log-in"  %}
  <a href="/signup">I dont have a account yet.</a>
{% endif %}
</main>
{% endblock %}

