{% layout "src/views/layouts/base.liquid" %}

{% block content %}
<main>
  <h1> {{ page }}</h1>
  <form action="#"
    {% if page == "Sign-up" %}
      id="signUp"
    {% else if page == "Log-in"  %}
      id="logIn"
    {% endif %}
  >
    <label>Name:
      <input type="text" name="name">
    </label>
    <button type="submit">{{ page }}</button>
  </form>

{% if page == "Sign-up" %}
  <a href="/login">I already have an account.</a>
{% else if page == "Log-in"  %}
  <a href="/signup">I dont have a account yet.</a>
{% endif %}
</main>
<script src="/js/extraFunctions.js"></script>
<script src="/js/loginSignup.js"></script>
{% endblock %}

