{% layout "src/views/layouts/base.liquid" %}

{% block contentMain %}
<main>
    <h1>Page not found</h1>
    <a href="/login">Link to login</a>
</main>
<script src="/js/extraFunctions.js"></script>
<script src="/js/removeLoc.js"></script>
{% endblock %}
