  <section class="notificationHeader">
    <h2>Receive notifications from this app?</h2>
    <p>Do you want to receive notifications from this app? 
      This could help by getting in contact faster with the person that is trying to contact you.
    </p>
    <button id="yesNoti">Yes</button>
    <button id="noNoti">No</button>
  </section>