body {
    background-color: var(--color-body);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
header{
    height: 3em;
    width: 100%;
    border-bottom: solid black 1px;
    display: flex;
    flex-direction: row;
}
main {
    display: flex;
    display: grid;
    grid-template-columns: 20% 1fr;
    height: 100%;
    overflow: hidden;
}
.chat-box {
    background-color: rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    order: 2;
    display: grid;
    height: 100%;
    grid-template-rows: 5% 1fr 10%;
}
.chat-box div {
    background-color: #29464368;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}
.message-box {
    padding: 2em;
    border-radius: 10px;
    padding: 0.4rem;
    overflow-y: scroll;
}
.message-box {
    display: flex;
    flex-direction: column;
    & p.away{
        align-self: end;
    }
    & p.incoming{
        align-self: start;
    }
    & p{
        padding: 0.5rem;
        background-color: #2946433e;
        border-radius: 10px;
    }
}
.textForm{
    position: absolute;
    bottom: 0;
    margin: 0;
    display: flex;
    width: 80%;
    & textarea {
        width: 90%;
        height: 3em;
        font-size: 2em;
        padding: 1rem;
    }
    & button {
        width: 10%;
    }
}
.notificationHeader {
    width: 100%;
    height: fit-content;
    padding: 0.5em;
    margin: 0;
    position: absolute;
    top: 0;
    background-color: yellow;
    color: black;
}
.notificationHeader p {
    margin: 0;
}

.sidebar {
    background-color: #294643;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.profile:hover .profileMenu {
display: block;
}
.profileMenu {
    display: none;
    transition: 200ms;
}

/* .hide {
    display: none;
} */
.chats {
    margin: 0;
    padding: 0.2rem;
}
.chats li{
    list-style: none;
    display: flex;
    justify-content: center;
}
.chats li a{
    color: black;
    text-decoration: none;
}