body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: sans-serif;
}

p,
a,
li,
button,
summary,
label {
    font-family: "Montserrat", sans-serif;
}

button,
summary {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}
:target {
    scroll-margin-top: 2em;
}

p, li {
    max-width: 40em;
}

/* The hide class */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

:root {
    --color-body: rgb(180, 180, 180);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-body: rgb(0, 81, 0);
        --color-text-nav: white;
        --color-main: #1b1b1b;
        --color-text-main: white;
        --color-mix: rgb(255, 255, 255);
        --color-code-bg: #343434;
        --color-code: white;
    }
} */

body {
    background-color: var(--color-body);
}

