<html lang="en">
<head>
  {% block head %}
    <title>My First Page</title>
  {% endblock %}
  <script type="nomodule" src="/polyfills-legacy.js" defer></script>
  <script type="nomodule" src="/main-legacy.js" defer></script>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="manifest" href="/manifest.json">
</head>

<body>
  {% block contentHeader %}{% endblock %}
  {% block contentMain %}{% endblock %}
</body>
{% comment %} <footer>
  {% block footer %}
    <p>© 2024 Jop Molenaar</p>
  {% endblock %}
</footer> {% endcomment %}
</html>
